@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1024px) {
  #navbar {
    display: flex !important;
    flex-direction: row !important;
  }
}